* {
  margin: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

.nowrap {
  white-space: nowrap;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.borderFive {
  border: 2px solid aliceblue;
  border-radius: 5px;
}

body {
  overflow: hidden;
  color: aliceblue;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

header {
  padding: 1rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.topButton a, a:visited {
  color: aliceblue;
  text-decoration: none;

}

.headerText {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 3rem;
}

.headerText:hover, .headerText:active {
  color: black;
  background-color: aliceblue;
}

main {
  margin: 1rem 6rem 3rem;
  width: calc(100% - 12rem);
  height: calc(100% - 10rem);
}

.click-area {
  border: 2px aliceblue solid;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  justify-content: flex-start;
  background-image: url(../images/data-center.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.topSection {
  gap: 5%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 10, 25, 0.7);
  margin: 1rem 3rem;
  padding: 1rem;
  border: 2px solid aliceblue;
  border-radius: 10px;
}

.levelPtsContainer, .gameTitleContainer {
  margin: 0.5rem;
  width: 40%;
  justify-content: center;
  gap: 2rem;
}

.hackerClickerTitle {
  font-size: 2.5rem;
  font-weight: 800;
  padding: 1rem;
  background: black;
}

.topBox {
  display: flex;
  font-size: 2.5rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: black;
}

.bottomSection {
  justify-content: space-around;
  margin: 2rem 0;
}

.upgradeSelectionArea {
  justify-content: space-around;
  gap: 1rem;
}

.upgradesBox {
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 10, 25, 0.7);
}

.selectedSection {
  background-color: aliceblue;
  border-radius: 5px;
}

.gameBox {
  justify-content: space-evenly;
  min-width: 575px;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 10, 25, 0.7);
}

.hackImage{
  width: 384px;
  height: 216px;
}

#objectHacker {
  position: relative;
  margin: 50px 75px 125px;
}

.keyboardDiv {
  position: absolute;
  top: 140px;
  right: 60px;
}

#objectHPTitle {
  text-align: center;
  display: inline-block;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  font-weight: bold;
}

.hackKeyboard {
  width: 385px;
}

#newGame:hover {
  text-shadow: none;
}

#objectHP {
  text-align: center;
  display: inline-block;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  font-weight: bold;
}

.rigBox, .gangBox, .infoBox {
  min-width: 350px;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.myHoverButton:hover {
  padding: 0rem 3.5rem;
  background-color: aliceblue;
  color: black;
  text-shadow: none;
}

.needRelative {
  position: relative;
  overflow: visible;
}

.hoveredDetails {
  padding: 0.5rem;
  font-size: 0.75rem;
  border: 1px solid black;
  background-color: rgb(253, 253, 188);
  color: black;
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 7rem;
}

.deviceName {
  font-weight: 900;
  font-size: 1rem;
  padding: 0.25rem 0;
}

.hidden {
  display: none;
}

#aliens {
  display: none;
}

.image-kovalev {
  background-image: url(../images/artem-kovalev-alien-unsplash.jpg);
}

.background-fullHeight {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-shadow: black 1px 1px;
}

.white-text {
  color: white;
  z-index: 1;
}

.information-position {
  position: absolute;
  padding-left: 2rem;
  bottom: 35%;
}

.content-lineone {
  margin: 0.2rem 0rem;
  padding: 0.2rem 0rem;
  font-size: 1.5rem;
}

.content-linetwo {
  margin: 0.2rem 0rem;
  padding: 0.2rem 0rem;
  font-size: 2rem;
  font-weight: bold;
}
.read-more-link {
  opacity: 1;
  display: inline-block;
  margin: 0.5rem 0rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  text-shadow: none;
  border: solid white 2px;
}

.read-more-link:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.imageattrib-pos {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.attribution-text {
  font-size: 0.8rem;
  text-transform: capitalize;
  text-shadow: none;
}


@media screen and (max-width: 1024px) {
  #mainSection {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #playHeader {
    display: none;
  }
  #click-area-id {
    display: none;
  }
  #aliens {
    display: block;
  }
  a {
    text-decoration: none;
  }  
  a:link,a:visited,a:hover,a:active {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
  span {
    text-transform: lowercase;
  }
}
